$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

$accent: #f1ca91;

$text: #bfc9db;
$subtext: #858893;

$overlay: #646a73;

$surface: #13141c;

$base: #1e1e2f;
$mantle: #181825;
$crust: #010101;


// $red: #d78787;
// $green: #afbea2;
// $yellow: #e4c9af;
// $blue: #a1bdce;
// $magenta: #d7beda;
// $cyan: #b1e7dd;
