#window {
    background-color: RGBA(239, 241, 245, 0.5);

    border: 1px solid RGBA(239, 241, 245, 0.7);
    border-radius: 8px;
}

#outer-box {
    padding: 16px;
}

#input {
    background: none;
    /* border: 1px solid RGBA(241, 202, 145, 1); */
    margin: 4px;
}

#entry {
    padding: 8px;
    margin: 4px;
    color: #4c4f69;
}

#entry:selected {
    background: RGBA(243, 139, 168, 0.4); // Mocha red
}

#img {
    border-radius: 999px;
    padding-right: 8px;
}
